
table.ficha_avaliacao  {
    width: 100%;
    border: 1px solid black;
}

table.ficha_avaliacao td {
    border: 1px solid black;
    padding: 4px;
}

.avaliacao_texto {
    width: 40%;
    display: inline;
}

table.tabela_ranking {
    margin-bottom: 100px;
    border: 1px solid rgb(172, 172, 172);
}

table.tabela_ranking td {
    text-align: center;
}

table.tabela_ranking th {
    text-align: center;
}

.form-item {  
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;    
  }
  
  .form-item label {  
    margin-right: 10px;
    display: inline;
    font-size:16px;
    float: left; 
    width: 50%; 
    text-align: right;
  }
  
  .form-item .error {
    display:block;
    font-size:10px;
    color:red;
  }
  
  .input input {  
    display:inline;
    border:1px solid #cccccc;
    padding:5px 5px;
    border-radius:6px;
    outline:none;
    background:#fff;
    float: left; 
    width: 200px;
    text-align: left;
  }
  